 <h1>
			<img class="company-logo" src="https://1000logos.net/wp-content/uploads/2017/07/Deadpool-Logo.png" height="100" width="50" ></img>
			Remember to work on</h1>
		<ul class="card">
			<li>
				<input type="checkbox">
				<a href="show.html">Make the curriculum</a>
				<span class= "pomodoro-estimate"> 4 promodoro</span>
			</li>
			<li>
				<input type="checkbox">
			 Ap chem
				<span>5 Pomodoros</span>
			</li>
			<li>
				<input type="checkbox">
				finish my english homework
				<span>4 pomodoros</span>
			</li>
			<li>
				<input type="checkbox">
				do spanish homework
				<span>3 pomodoros</span>
			</li>
			<li>
				<input type="checkbox">
				workout
				<span>2 pomodoros</span>
			</li>
			<li>
				<input type="checkbox">
				watch tech videos
				<span>pomodoros</span>
			</li>
			<li>
				<input type="checkbox">
				sleep
				<span>0 promodoro</span>
			</li>
				<li>
	<input type="checkbox">
	finish
	<span class="pomodoro-estimate">3 Pomodoros</span>
</li>
</ul>
<div>
	<input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
	<input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
	<input class="button" id="add-new-todo-button" type="submit" value="Add todo">
		<a href="index.html">Go back...</a>


</div>